body {  background-image: url("Bilder/woods-3.jpg");
        background-size: cover; /* makes image fill the page */
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
     }

h1 {
    font-family:times new roman, times, serif;
    color: navy;
    text-align: center;
    font-size: 40px;
   }