body {background-color: green;}

h1 {font-family:times new roman, times, serif;}

h1 {
    color: navy;
    text-align: center;
    font-size: 40px;}

body {position: absolute;
top: 0;
left: 0;
width: 750px;
height: 75px;}