body {background-image: https://www.treehugger.com/thmb/IAlZGVzhRLGZL_E0zSv7qbzyGRA=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-1273584292-cbcd5f85f4c646d58f7a7fa158dcaaeb.jpg;}

– h1 {font-family:times new roman, times, serif;}

h1 {
    color: navy;
    text-align: center;
    font-size: 40px;}

body {position: absolute;
top: 0;
left: 0;
width: 750px;
height: 75px;}