body {
	background-color: #c3f9f4;
    font-family: Arial, "Times New Roman", Times, serif;
    }
.header {
    text-align: center;
    margin-bottom: 20px;
    }
.tablebox {
    width: 65%;
    margin: 80px auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}
caption {
	font-size: 20px;
    font-weight: bold;
    padding: 10px;
}
table, th, td {
    background-color: white;
    border-collapse: collapse;
    border: 2px solid #000000;
    padding: 6px;
}
table {
    margin: 10px auto;
}
th {
   height: 30px;
}  
thead {
    background-color: white;
    color: black;
}
.number {
    text-align: center;
}
.listbox {
	background-color: #add8e6;
    width: 65%;
    margin: 80px auto;
    padding: 20px;
    border-radius: 15px;
}
.listheader {
	text-align: center;
}
ul {
	list-style-type: disc;
    line-height: 1.2;
}