#header {
    text-align: center;
    margin-bottom: 20px;
    }
.tablebox {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}
body {
	background-color: #c3f9f4;
    font-family: Arial, "Times New Roman", Times, serif;
    }
table, th, td {
    background-color: white;
    border-collapse: collapse;
    border: 2px solid black;
    padding: 6px;
}
table {
    margin: 0 auto;
}
th {
   height: 30px;
}
.number {
    text-align: center;
}  
thead {
    background-color: white;
    color: black;
}
caption {
	font-size: 20px;
    font-weight: bold;
    padding: 10px;
}